@media (max-width: 600px) {
  .block-event-details {
    height: 100% !important;
  }
}

@media (max-width: 800px) {
  section.wrapper-event-details {
    margin: 50px 0px 50px 0px !important;

    .overflow-details-block {
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    video {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      transform: translateY(0) !important;
      height: auto !important;
    }

    .register-button {
      position: absolute;
    }
  }
}

section.wrapper-event-details {
  color: white;
  margin: 150px 0px 150px 0px;
  display: flex;
  align-items: center;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .block-event-details {
    background-color: black;
    height: 300px;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;

    .date {
      font-size: 60px;
      font-weight: 700;
    }

    .hours {
      font-size: 15px;
      font-weight: 800;
    }
    .activities {
      font-size: 15px;
    }
  }

  .overflow-details-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    video {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      height: 600px;
    }

    .register-button {
      position: absolute;
    }
  }
}
