section.wrapper-event-details {
  color: white;
  display: flex;
  align-items: center;

  .block-event-details {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0px 150px 0px;
    height: 300px;

    .description {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 5px;
      .date {
        font-size: 60px;
        font-weight: 700;
      }

      .hours {
        font-size: 15px;
        font-weight: 800;
      }
      // .address,
      // .price {
      //   font-size: 15px;
      //   font-weight: 200;
      // }
      .activities {
        font-size: 15px;
      }
    }

    .overflow-details-block {
      height: 400px;
      width: 700px;
      background-image: url("./ben-hershey-K9HgyI3qmqA-unsplash.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .register-button {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        button {
          border: 2px solid white;
          color: white;
          padding: 10px 75px 10px 75px;
          background-color: transparent;
          font-size: 19px;
          font-weight: 700;
          letter-spacing: 1px;
        }

        button:hover {
          color: #d8e144;
          border: 2px solid #d8e144;
        }
      }
    }
  }
}
