section.wrapper-event-details {
  color: white;
  padding: 150px 0px 150px 0px;
  display: flex;
  align-items: center;

  .btn-padel {
    margin-top: 0px;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .block-event-details {
    background-color: black;
    height: 300px;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;

    .date {
      font-size: 60px;
      font-weight: 700;
    }

    .hours {
      font-size: 15px;
      font-weight: 800;
    }
    .activities {
      font-size: 15px;
    }
  }

  .overflow-details-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    video {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      height: 600px;
    }

    .register-button {
      position: absolute;
    }
  }
}

@media (max-width: 800px) {
  section.wrapper-event-details {
    padding: 50px 0px 50px 0px;

    .overflow-details-block {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .description {
      height: 100% !important;
    }

    video {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      transform: translateY(0) !important;
      height: auto !important;
    }

    .register-button {
      position: absolute;
    }

    .btn-padel {
      margin-top: 0px;
    }
  }
}

@media (max-width: 800px) {
  section.wrapper-event-details {
    display: flex;
    align-items: center;

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .block-event-details {
      height: 100% !important;
      background-color: white;
      color: black;
      height: 300px;
    }

    .description {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 0px 5px 0px;
      text-align: center;
    }

    .overflow-details-block {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100% !important;

      video {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
      }

      .register-button {
        position: absolute;
      }

      .btn-padel {
        margin-top: 0px;
      }
    }
  }
}
