<section class="wrapper-event-details">
  <div class="container-lg">
    <div class="block-event-details">
      <div class="col-4 description">
        <div class="date">OCT15</div>
        <div class="hours">14H-19H</div>
        <div class="activities">
          Join us for an afternoon playing padel, <br />
          networking and finish with barbecue and a drink. <br />
          <br />
          <b> #padel #networking #barbecue</b>
        </div>
      </div>
      <div class="col-7 overflow-details-block">
        <div class="vid"></div>
        <video
          autoplay
          muted
          loop
          src="https://cdn.shopify.com/videos/c/o/v/cf05abebf3154f56aa0f22a06ee93136.mov"
        ></video>
        <div class="register-button">
          <!-- <div class="description">PADEL_BARBECUE_NETWORKING</div> -->
          <button type="button" (click)="displayForm(true)">REGISTER</button>
        </div>
      </div>
    </div>
  </div>
</section>
