.wrapper-footer {
  font-family: "Sarabun", sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 40px 50px 40px 50px;
  margin-top: 50px;

  a {
    text-decoration: none;
    color: white;
  }

  .col-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .logo-footer-wrapper {
    img {
      width: 200px;
      padding-left: -5px;
      padding-bottom: 20px;
    }
    border-bottom: 2px solid white;
    margin-bottom: 30px;
  }

  .footer-section {
    margin-bottom: 10px;
    h6 {
      font-weight: 600;
    }
    span {
      font-size: 14px;
    }
    ul {
      font-size: 14px;
      padding: 0px;
      li {
        list-style: none;
      }
    }
  }
  .social-icons {
    padding-top: 30px;
    svg {
      width: 50px;
    }
  }
}
