div {
  font-family: "Sarabun", sans-serif;
  color: white;
  background-image: url("./Call\ Background\ -\ Solid\ Black\ -\ White\ Logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 50vh;
  display: flex;
  align-items: center;
}
