.wrapper-form {
  padding: 100px 12px 100px 12px;
  height: 100%;

  .register-form-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      font-size: 50px;
    }
  }

  .error-message {
    color: red;
  }

  svg {
    fill: black;
    height: 30px;
  }

  .col-2 {
    display: flex;
    justify-content: center;
  }

  .included-items {
    height: 60px;
    width: 50%;
    color: black;
    padding: 5px 5px 5px 0px;
    margin: 5px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .register-form-form {
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    form {
      label {
        font-size: 15px;
        padding: 5px 0px 0px 0px;
        letter-spacing: 1px;
        font-weight: 500;
      }

      input {
        border: none;
        border-bottom: 2px solid black;
        margin-bottom: 20px;
        padding: 5px 0px 5px 0px;
        width: 100%;
      }

      input:focus {
        outline-width: 0;
      }

      input::placeholder {
        color: #c0c0c0;
        font-weight: 100;
      }
    }
  }
}

@media (max-width: 800px) {
  .wrapper-form {
    padding: 20px;

    .register-form-intro {
      h4 {
        font-size: 40px;
      }
    }

    .register-form-form {
      padding: 20px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      form {
        padding: 10px;
        label {
          font-size: 15px;
          padding: 5px 0px 0px 0px;
          letter-spacing: 1px;
          font-weight: 500;
        }

        input {
          border: none;
          border-bottom: 2px solid black;
          margin-bottom: 20px;
          padding: 5px 0px 5px 0px;
          width: 100%;
        }

        input:focus {
          outline-width: 0;
        }

        input::placeholder {
          color: #c0c0c0;
          font-weight: 100;
        }
      }
    }
  }
  .btn-padel-secondary {
    margin: 0px 10px 10px 10px;
  }
}
