header {
  font-family: "Sarabun", sans-serif;
  height: 90vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(240, 239, 239, 1) 38%,
    rgba(222, 221, 221, 1) 65%
  );
  display: flex;
  align-items: center;
  .wrapper-hero-header {
    background-color: gray;
  }

  div.col-6 {
    padding: 0px;
    padding-right: 5px;
  }

  .hero-header-img {
    height: 400px;
  }

  .hero-header-title {
    font-size: 75px;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 80px;
  }

  .hero-header-title-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

// @-webkit-keyframes swing {
//   15% {
//     -webkit-transform: translateY(100px);
//     transform: translateY(100px);
//   }
//   30% {
//     -webkit-transform: translateY(-100px);
//     transform: translateY(-100px);
//   }
//   50% {
//     -webkit-transform: translateY(3px);
//     transform: translateY(3px);
//   }
//   65% {
//     -webkit-transform: translateY(-3px);
//     transform: translateY(-3px);
//   }
//   80% {
//     -webkit-transform: translateY(2px);
//     transform: translateY(2px);
//   }
//   100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//   }
// }
// @keyframes swing {
//   15% {
//     -webkit-transform: translateY(10px);
//     transform: translateY(10px);
//   }
//   30% {
//     -webkit-transform: translateY(-15px);
//     transform: translateY(-15px);
//   }
//   50% {
//     -webkit-transform: translateY(5px);
//     transform: translateY(5px);
//   }
//   65% {
//     -webkit-transform: translateY(-5px);
//     transform: translateY(-5px);
//   }
//   80% {
//     -webkit-transform: translateY(3px);
//     transform: translateY(3px);
//   }
//   100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//   }
// }
// .swing:hover {
//   color: #d8e144;
//   -webkit-animation: swing 5s ease;
//   animation: swing 1s ease;
//   -webkit-animation-iteration-count: 1;
//   animation-iteration-count: 1;
// }
