<header class="wrapper-hero-header">
  <div class="container-lg">
    <div class="row hero-header">
      <div class="col-12 col-sm-5 hero-header-title-btn">
        <h1 class="hero-header-title">
          LET'S PLAY
          <div class="swing">#PADEL</div>
        </h1>
        <button class="btn-padel-secondary">JOIN NOW</button>
      </div>
      <div class="col-12 col-sm-7 hero-header-img">
        <img
          src="https://i.postimg.cc/6ppRqmvd/Valtech-Padel-Tournament-01-01.png"
          alt="Valtech Padel Tournament"
          width="90%"
        />
        <!-- <figcaption>17SEP</figcaption> -->
      </div>
    </div>
    <!-- <div class="row location-header">CAMPO GRANDE - LISBON</div> -->
  </div>
</header>
