header {
  font-family: "Sarabun", sans-serif;
  height: 90vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(240, 239, 239, 1) 38%,
    rgba(222, 221, 221, 1) 65%
  );
  display: flex;
  align-items: center;
  .wrapper-hero-header {
    background-color: gray;
  }

  div.col-md-6 {
    padding: 0px;
  }

  div.col-6,
  div.col-sm-6 {
    padding: 0px;
    padding-right: 5px;
  }

  .hero-header-title {
    font-size: 75px;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 80px;
  }

  .hero-header-title-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hidden-desktop {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 600px) {
  header {
    height: 90vh;

    .hidden-desktop {
      visibility: visible;
      display: flex;
      margin: 30px 0px 30px 0px;
    }

    .hide-mobile {
      visibility: hidden;
      display: none;
    }

    .hero-header-title {
      text-align: center;
      font-size: 55px;
      line-height: 60px;
    }

    .hero-header-title-btn {
      align-items: center;
    }

    .hero-header-img {
      padding: 20px;
    }

    .btn-padel-secondary {
      margin-top: 10px;
    }
  }
}
