@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

body {
  font-family: "Sarabun", sans-serif;
  overflow-x: hidden;
  ::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: #d8e144;
  }

  ::selection {
    color: black;
    background: #d8e144;
  }
}

nav {
  padding-top: 30px !important;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(240, 239, 239, 1) 38%,
    rgba(222, 221, 221, 1) 65%
  );
  .navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-nav {
      .nav-item {
        text-transform: uppercase;
        font-weight: 500;
        color: black;
        margin: 0px 15px 0px 15px;
        transition: transform 0.2s; /* Animation */
      }
      .nav-item:hover {
        text-decoration: underline;
      }
    }
  }
}

.btn-padel {
  color: white;
  border: 2px solid white;
  margin-top: 30px;
  padding: 10px 75px 10px 75px;
  background-color: transparent;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-padel:hover {
  color: #d8e144;
  border: 2px solid #d8e144;
}

.btn-padel-secondary {
  margin-top: 50px;
  padding: 10px 75px 10px 75px;
  color: black;
  border: 2px solid black;
  background-color: transparent;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-padel-secondary:hover {
  color: #d8e144;
  border: 2px solid #d8e144;
}

@media (max-width: 800px) {
  nav {
    padding-top: 0px !important;
  }

  button.navbar-toggler {
    border: none;
  }

  .navbar-toggle:focus {
    outline-width: 0;
  }
}
