section.wrapper-charity {
  font-family: "Sarabun", sans-serif;
  color: white;
  background-image: url("./AdobeStock_233181659.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  display: flex;
  align-items: center;

  div.charity-left-block {
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    h4 {
      font-size: 70px;
      color: white;
      line-height: 60px;
      // .charity {
      //   color: #d8e144;
      //   text-decoration: underline;
      // }
    }
    h5 {
      margin-top: 60px;
      font-size: 30px;
    }
    .charity-description {
      font-size: 13px;
      font-weight: 200;
      text-align: justify;
    }
    //   button {
    //     color: white;
    //     border: 2px solid white;
    //     margin-top: 30px;
    //     padding: 10px 75px 10px 75px;
    //     background-color: transparent;
    //     font-size: 19px;
    //     font-weight: 700;
    //     letter-spacing: 1px;
    //   }
    //   button:hover {
    //     color: #d8e144;
    //     border: 2px solid #d8e144;
    //   }
    // }
  }
}
