<section class="wrapper-charity" id="charity">
  <div class="container-xxl">
    <div class="background-wrapper">
      <div class="row charity-content-block">
        <div class="col-12 col-md-6 charity-left-block">
          <h4>
            DONATION
            <br />
            TO CHARITY
          </h4>
          <h5>"AS RAPARIGAS DO CÓDIGO"</h5>
          <div class="charity-description">
            This event is organized to make a donation of the proceeds to
            Raparigas do Código. This amazing initiative aims to change the way
            girls and women look at tech by offering a series of programming
            courses and workshops. The team consists all of volunteers that will
            use this money to create courses and make content available for
            ambitious girls.
          </div>
          <a href="https://raparigasdocodigo.pt/" target="_blank">
            <button class="btn-padel">DISCOVER MORE</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
